#board {
	background-color: #008800;
	position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#topSection {
	margin-top: 1vw;
	width:100%;
	height: 20vw;
}

#foundation .pile {
	/*border-radius: 1rem;
	border: 2px solid #CCC;*/
}

#tableau.row, #topSection.row {
	margin-left: 0;
	margin-right: 0;
}
#tableau .col, #topSection .col, #foundation .col {
	padding-left:0.5vh;
	padding-right:0.5vh;
}

.pile {
	/*width: 100%;*/
	min-height: 17vw;
}

.pile.canDrop {
	background-color: #00CC00;
}

/*.target {
	float: left;
	border-radius: .25rem;
	border: 1px solid yellow;
	min-width: 50px;
	min-height: 50px;
}*/

.pokercard {
	position: relative;
	background-color: white;
	background-clip: border-box;
	border: 1px solid #888;
	border-radius: .5rem;
}
.pokercard {
	width: 12vw;
}
.pokercard img {
	width: 100%;
  	height: auto;
}
.pokercard.red {
	color: red;
}
.pokercard.back {
	color: blue;
}

#discard-pile .pokercard {
	width: 12vw;
	float: left;
}

.bottom {
	top: 0;
	bottom: 0;
}
.fan-down {
	margin-top: -13vw;
}
.fan-right {
	margin-right: -10vw;
}