/* Display Orientation */

@media (orientation: landscape) {
	#board {
		padding-left: 5vh;
		padding-right: 5vh;
	}
	#topSection {
		margin-top: 0;
	}
	#topLeftSection #scoreBoard {
		padding-right: 1vh;
		padding-top: 0.5vh;
	}
	#stockAndDiscardPiles {
		min-height: 27vh;
	}
	#tableau {
		margin-top: 1vh;
	}
	.pokercard {
		width: 19vh;
	}
	.fan-down {
		margin-top: -25vh;
	}
	.build .fan-down {
		margin-top: -20vh;
	}
	.fan-right {
		margin-right: -16vh;
	}
	#discard-pile {
		min-width: 19vh;
	}
	#discard-pile .pokercard {
		width: 19vh;
	}
	#foundation .col {
		padding-left:0;
		padding-right:0;
	}
	#foundation .pile, #tableau .pile, #stockPile .pile {
		width: 19vh;
	}
	.pile {
		min-height: 27vh;
	}
}
@media (orientation: portrait) {
	#board {
    	padding: 0;
	}
	#topSection {
		margin-top: 1vw;
	}
	#topLeftSection #scoreBoard {
		padding-right: 1vw;
		padding-top: 0.5vw;
	}
	#stockAndDiscardPiles {
		min-height: 20vw;
	}
	#tableau {
		margin-top: 2vw;
	}
	.pokercard {
		width: 14vw;
	}
	.fan-down {
		margin-top: -16vw;
	}
	.build .fan-down {
		margin-top: -15vw;
	}
	.fan-right {
		margin-right: -11vw;
	}
	#discard-pile {
		min-width: 14vw;
	}
	#discard-pile .pokercard {
		width: 14vw;
	}
	#foundation .col {
		padding-left:1vw; 
		padding-right:1vw;
	}
	#foundation .pile, #tableau .pile, #stockPile .pile {
		width: 13vw;
	}
	.pile {
		min-height: 19vw;
	}
}

body {
	background-color: #008800;
}


/* MENU */
.appTitle {
	margin-top:2vh;
}
.appTitle:before {
	content: "";
	position: relative;
	top: 6px;
	background: url("/img/icon-72x72.png") no-repeat center;
	background-size: contain;
	width: 32px;
    height: 32px;
    float: left;
}
/*#menu .list-group-item {
	color: #FFF;
	background-color: rgba(0,0,0,0.4); 
	border: 1px solid rgba(0,0,0,0.2);
}*/


/* GAME BOARD */
#board {
	background-color: #008800;
	position:fixed;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}


/* Scorebar - Single player only */
#scoreBar {
	padding: 0.5vw;
	color: #FFF;
	background-color: rgba(0,0,0,0.4); 
}


/* Top Section */

#topSection {
	width:100%;
}

#topLeftSection .row {
	margin:0;
}

#scoreBoard table {
	border-spacing: 0 1vw;
	border-collapse: separate;
	positon: relative;
	left: 0;
	width: 100%;
}
#scoreBoard th {
	font-size: 3vw;
	color: #030; 
}
#scoreBoard .user {
	color: #FFF;
	background-color: rgba(0,0,0,0.4); 
}
#scoreBoard .user.blocked {
	color: #000;
	background-color: #ffc107; 
}
#scoreBoard .user.sleep {
	color: #FFF;
	background-color: rgba(0,0,0,0.6); 
}
#scoreBoard .score, #scoreBoard .moves {
	text-align: center;
}

#stockAndDiscardPiles {
	width: 100%;
	margin: 0;
}

#stockPile, #discardPile {
	position: relative;
}

#stock-pile, #discard-pile {
	position: absolute;
	bottom: 0;
}

#foundation .row {
	min-height: 10vw;
	padding: 1vw;
}


/* Tableau */

#tableau.row, #topSection.row {
	margin-left: 0;
	margin-right: 0;
}
#tableau .col, #topSection .col {
	padding-left:0;
	padding-right:0;
}
#topLeftSection .col {
	padding-left:0;
	padding-right:0;
}


/* Piles */

#foundation .pile, #tableau .pile, #stockPile .pile {
	background-color: #44AA44;
	border-radius: .5rem;
}

#foundation .pile.canDrop, #tableau .pile.canDrop {
	background-color: #00CC00;
}

#discard-pile .pokercard {
	float: left;
}


/* Cards */

.pokercard {
	position: relative;
	background-color: white;
	background-clip: border-box;
	border: 1px solid #888;
	border-radius: .5rem;
}
.pokercard img {
	width: 100%;
  	height: auto;
}
.pokercard.red {
	color: red;
}
.pokercard.back {
	color: blue;
}

.bottom {
	top: 0;
	bottom: 0;
}


/* Wait for Players Dialog */

.users .user label {
	float:right;
}
.checkbox-2x {
    transform: scale(2);
    -webkit-transform: scale(2);
}
progress#startgame_countdown {
	width:100%;
}


/* Game Over Dialog */

#gameOver table {
	width: 100%;
}
#gameOver .score, #gameOver .moves {
	text-align: center;
}


/* Chat */

.chatmessageframe {
	position: relative;
	padding: 1vw;
	overflow: hidden;
	height: 30vh;
}
.modal-body .chatbar {
	background-color: transparent;
}
.modal-body .chatmessageframe {
	height: auto;
	max-height: 20vh;
	min-height: 10vh;
}
.modal-body .chatmessages {
	color: #000;
}
.chatmessages {
	position: absolute;
	bottom: 0;
	color: #FFF;
	background: rgba(255,255,255,0.4); 
	width: 100%;
}
.chatbar {
	padding: 1vw;
	color: #FFF;
	background-color: rgba(0,0,0,0.4); 
}
.chatframe.fixed-bottom {
	bottom: 47px;
}
.message .user {
	font-weight: bold;
	color: blue;
}
.message .user.me {
	color: red;
}
