@media (orientation: landscape) {
	#board {
		padding-left: 3vw;
		padding-right: 3vw;
	}
}
@media (orientation: portrait) {
	#board {
    	padding: 0;
	}
}

#board {
	background-color: #008800;
	position:fixed;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#topSection {
	margin-top: 1vw;
	width:100%;
}


#stockPile, #discardPile {
	position: relative;
}

#stock-pile, #discard-pile {
	position: absolute;
	bottom: 0;
}


#foundation .row {
	min-height: 10vw;
}

#tableau {
	margin-top: 2vw;
}

#tableau.row, #topSection.row {
	margin-left: 0;
	margin-right: 0;
}
#tableau .col, #topSection .col, #foundation .col {
	padding-left:0.25vh;
	padding-right:0.25vh;
}

.pile {
	min-height: 17vw;
}

#foundation .pile, #tableau .pile, #stockPile .pile {
	background-color: #44AA44;
	width: 12vw;
	border-radius: .5rem;
}
#foundation .row {
	padding: 1vw;
}

.pile.canDrop {
	background-color: #00CC00;
}

/*.target {
	float: left;
	border-radius: .25rem;
	border: 1px solid yellow;
	min-width: 50px;
	min-height: 50px;
}*/

.pokercard {
	position: relative;
	background-color: white;
	background-clip: border-box;
	border: 1px solid #888;
	border-radius: .5rem;
}
.pokercard {
	width: 12vw;
}
.pokercard img {
	width: 100%;
  	height: auto;
}
.pokercard.red {
	color: red;
}
.pokercard.back {
	color: blue;
}

#discard-pile {
	min-width: 12vw;
}
#discard-pile .pokercard {
	width: 12vw;
	float: left;
}

.bottom {
	top: 0;
	bottom: 0;
}
.fan-down {
	margin-top: -16vw;
}
.build .fan-down {
	margin-top: -13vw;
}
.fan-right {
	margin-right: -10vw;
}