<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128602924-1"></script>
	<script>
	/*<![CDATA[*/
	  /*
	   * This allows us to dynmically set the tracking id
	   */
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-128602924-1');
	/*]]>*/
	</script>
	
	
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Language" content="en" />
    <link th:href="@{|/webjars/bootstrap/css/bootstrap.min.css|}" rel="stylesheet"/>
    <link th:href="@{|/webjars/fontawesome/css/font-awesome.min.css|}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{|/css/doublesolitare.css|}" href="../css/doublesolitare.css" />

	<!-- PWA Manifest -->
	<link th:href="@{|/manifest.json|}" rel="manifest" href="/manifest.json" />
		
	<meta rel="icon" sizes="192x192" th:href="@{|/img/icon-192x192.png|}" href="/img/icon-192x192.png" />
	<meta name="theme-color" content="#008800"/>
	
	<!-- CSRF -->
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body onload="disconnect()">

	<div id="menu">
		<h1>Double Solitare</h1>
		<small>Version <span th:text="#{version}"></span>. 
			Build date <span th:text="${#temporals.format(T(java.time.ZonedDateTime).parse(#messages.msg('build.date).trim()).toLocalDateTime(), 'E, d MMM yyyy HH:mm')}">N/A</span></small>
		<p>Your are logged in as 
			<span class="staticUsername">
				<strong sec:authentication="name" class="username"></strong> 
				<button class="btn btn-sm btn-outline-primary editUsernameBtn"><i class="fa fa-pencil"></i> Edit</button>
			</span>
			<div class="editUsername input-group mb-3 input-group-sm">
        		<input class="url form-control" name="usernameInput"/>
        		<div class="input-group-append">
        			<button class="btn btn-sm btn-success saveUsernameBtn">Save</button>
        		</div>
        	</div>
		</p>
		<div class="list-group">
			<a hidden href='#' id="newSinglePlayerTestAction" class="list-group-item list-group-item-action">New Single Player TEST</a>
			<a hidden href='#' id="newMultiPlayerTestAction" class="list-group-item list-group-item-action">New Multi-Player TEST</a>
			<a href='#' id="newSinglePlayerGameAction" class="list-group-item list-group-item-action">New Single Player Game</a>
			<a href='#' id="newMultiPlayerGameAction" class="list-group-item list-group-item-action">New Multi-Player Game</a>
			<div id="availableGamesToJoin">
			</div>
		</div>
	</div>

	<div id="board">
		<div id="scoreBar" class="row">
			<div class="score col">Score: 0</div>
			<div class="moves col">Moves: 0</div>
		</div>
		<div id="topSection" class="row">
			<div id="topLeftSection" class="col">
				<div class="row">
					<div id="scoreBoard" class="col users">
						<table>
						<thead>
							<tr><th></th><th>Status</th><th>Moves</th></tr>
						</thead>
						<tbody>
							<tr class="user me"></tr>
						</tbody>
						</table>
					</div>
				</div>
				<div id="stockAndDiscardPiles" class="row">
					<div id="stockPile" class="col"></div>
					<div id="discardPile" class="col-8"></div>
				</div>
			</div>
			
			<div id="foundationPiles" class="col-7">
				<div id="foundation"></div>
			</div>
		</div>
	
		<div id="tableau"></div>
		
		<div class="chatframe fixed-bottom">
			<div class="chatmessageframe">
				<div class="chatmessages">
				</div>
			 </div>
			<div class="chatbar">
				<div class="input-group m-1 input-group-sm">
	        		<input class="message form-control" name="messageInput"/>
	        		<div class="input-group-append">
	        			<button class="btn btn-sm btn-primary sendMessageBtn"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
	        		</div>
	        	</div>
			</div>
		</div>
		
		<nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-between">
		  <div class="navbar-nav">
		  	<form class="form-inline">
		  		<div id="blockToggleButton" class="btn-group-toggle" data-toggle="buttons">
		  		<label class="btn btn-sm btn-outline-warning mx-2">
				    <input id="blockBtn" type="checkbox" autocomplete="off"> I'm Stuck
				 </label>
				 </div>
				 <button id="endGameBtn" class="btn btn-sm btn-primary" type="button">End Game</button>
			</form>
		  </div>
		  <div class="nav navbar-right">
		  		<button id="quitBtn" class="btn btn-sm btn-danger" type="button">Quit</button>
		  </div>
		</nav>
	
	</div>
	
	<!-- Modals -->
	<div class="modal fade" id="waitForPlayers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Multi-Player Solitare - 
	        	<span class="gamename"></span> 
				<button class="btn btn-sm btn-outline-primary editGamenameBtn"><i class="fa fa-pencil"></i> Edit Name</button>
	        </h5>
	      </div>
	      <div class="modal-body">
	      	<div class="editGamename input-group mb-3 input-group-sm">
        		<input class="url form-control" name="gamenameInput"/>
        		<div class="input-group-append">
        			<button class="btn btn-sm btn-success saveGamenameBtn">Save</button>
        		</div>
        	</div>
	        Waiting for 2 or more players to join.  When you're ready, check 'I'm Ready.'  When all players are ready, you'll get a 5 second countdown.  
	        <label for="inviteUrl">Invite players to join with this link</label>
	        <div id="inviteLink" class="input-group mb-3 input-group-sm">
	        	<input id="inviteUrl" class="url form-control" readonly="readonly"/>
	        </div>
	        <div class="list-group users">
	        	<div class="list-group-item user me">Me</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	      	<div id="startgame_countdown_text">Waiting...</div>
	        <progress id="startgame_countdown" max="5" value="0"></progress>
	        <button type="button" class="btn btn-default cancelBtn" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="gameOver" tabindex="-1" role="dialog" aria-labelledby="gameOverTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="gameOverTitle">Game Over</h5>
	        <button type="button" class="close mainMenuBtn" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
        	</button>
	      </div>
	      <div class="modal-body">
	        Game Over
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary mainMenuBtn" data-dismiss="modal">New Game</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!-- JQuery 
	================================================== -->
	<script th:src="@{|/webjars/jquery/jquery.min.js|}"></script>
	
	<!-- Bootstrap core JavaScript
    	================================================== -->
   	<script th:src="@{|/webjars/bootstrap/js/bootstrap.min.js|}"></script>
	
	<!-- Websocket JavaScript
    	================================================== -->
   	<script th:src="@{|/webjars/sockjs-client/sockjs.min.js|}"></script>
	<script th:src="@{|/webjars/stomp-websocket/stomp.min.js|}"></script>
	
	<!-- My JavaScript 
 	================================================== -->
 	<script th:fragment="common" th:inline="javascript">
  	/*<![CDATA[*/
  		/*
  		 * This allows us to dynmically set the servlet context path
  		 */
  		var ctx = /*[[@{|/|}]]*/ "/";
		var stompUrl = /*[[@{|/stomp|}]]*/ '/stomp';
  		console.log('Context path: '+ctx);
  		
  		function getRelativePath(uri) {
	  		if (ctx=='/') {
	  			/*relative urls cant start with a double slash*/
	  			return uri;
	  		} 
	  		return ctx+uri;
  		}
  		
  		/**
  		 * This allows us to dynmically set the ajax headers
  		 */
  		var token = $("meta[name='_csrf']").attr("content");
  	    var header = $("meta[name='_csrf_header']").attr("content");
  	    
  	  	$.ajaxSetup({
        	beforeSend: function (jqXHR, settings) {
        		jqXHR.setRequestHeader(header, token);
          	}
		});
  		
  	/*]]>*/
  	</script>
	<script type="text/javascript" th:src="@{|/js/doublesolitare.js|}" src="../js/doublesolitare.js"></script>
	<script type="text/javascript" th:src="@{|/js/sync.js|}" src="../js/sync.js"></script>
	<script type="text/javascript" th:src="@{|/js/DragDropTouch.js|}" src="../js/DragDropTouch.js"></script>
</body>
</html>
