<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128602924-1"></script>
	<script>
	/*<![CDATA[*/
	  /*
	   * This allows us to dynmically set the tracking id
	   */
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-128602924-1');
	/*]]>*/
	</script>
	
	
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Language" content="en" />
    <link th:href="@{|/webjars/bootstrap/css/bootstrap.min.css|}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{|/css/doublesolitare.css|}" href="../css/doublesolitare.css" />

	<!-- PWA Manifest -->
	<link th:href="@{|/manifest.json|}" rel="manifest" href="/manifest.json" />
		
	<meta rel="icon" sizes="192x192" th:href="@{|/img/icon-192x192.png|}" href="/img/icon-192x192.png" />
	<meta name="theme-color" content="#008800"/>
</head>
<body onload="disconnect()">

	<div id="menu">
		<h1>Double Solitare</h1>
		<div class="list-group">
			<a hidden href='#' id="newSinglePlayerTestAction" class="list-group-item list-group-item-action">New Single Player TEST</a>
			<a href='#' id="newSinglePlayerGameAction" class="list-group-item list-group-item-action">New Single Player Game</a>
			<a href='#' id="newMultiPlayerGameAction" class="list-group-item list-group-item-action">New Multi-Player Game</a>
			<div id="availableGamesToJoin">
			</div>
		</div>
	</div>

	<div id="board">
		<div id="scoreBar" class="row">
			<div class="score col">Score: 0</div>
			<div class="moves col">Moves: 0</div>
		</div>
		<div id="topSection" class="row">
			<div id="topLeftSection" class="col">
				<div class="row">
					<div id="scoreBoard" class="col users">
						<table>
						<thead>
							<tr><th></th><th>Score</th><th>Moves</th></tr>
						</thead>
						<tbody>
							<tr class="user me"></tr>
						</tbody>
						</table>
					</div>
				</div>
				<div id="stockAndDiscardPiles" class="row">
					<div id="stockPile" class="col"></div>
					<div id="discardPile" class="col-8"></div>
				</div>
			</div>
			
			<div id="foundationPiles" class="col-7">
				<div id="foundation"></div>
			</div>
		</div>
	
		<div id="tableau"></div>
	
	</div>
	
	<!-- Modals -->
	<div class="modal fade" id="waitForPlayers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Multi-Player Solitare</h5>
	      </div>
	      <div class="modal-body">
	        Waiting for 2 or more players to join.  When you're ready, check 'I'm Ready.'  When all players are ready, you'll get a 5 second countdown.
	        <div class="list-group users">
	        	<div class="list-group-item user me">Me</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	      	<div id="startgame_countdown_text">Waiting...</div>
	        <progress id="startgame_countdown" max="5" value="0"></progress>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="gameOver" tabindex="-1" role="dialog" aria-labelledby="gameOverTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="gameOverTitle">Game Over</h5>
	        <button type="button" class="close mainMenuBtn" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
        	</button>
	      </div>
	      <div class="modal-body">
	        Game Over
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary mainMenuBtn" data-dismiss="modal">New Game</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!-- JQuery 
	================================================== -->
	<script th:src="@{|/webjars/jquery/jquery.min.js|}"></script>
	
	<!-- Bootstrap core JavaScript
    	================================================== -->
   	<script th:src="@{|/webjars/bootstrap/js/bootstrap.min.js|}"></script>
	
	<!-- Websocket JavaScript
    	================================================== -->
   	<script th:src="@{|/webjars/sockjs-client/sockjs.min.js|}"></script>
	<script th:src="@{|/webjars/stomp-websocket/stomp.min.js|}"></script>
	
	<!-- My JavaScript 
 	================================================== -->
 	<script th:fragment="common" th:inline="javascript">
  	/*<![CDATA[*/
  		/*
  		 * This allows us to dynmically set the servlet context path
  		 */
  		var ctx = /*[[@{|/|}]]*/ "/";
		var stompUrl = /*[[@{|/stomp|}]]*/ '/stomp';
  		console.log('Context path: '+ctx);
  		
  		function getRelativePath(uri) {
	  		if (ctx=='/') {
	  			/*relative urls cant start with a double slash*/
	  			return uri;
	  		} 
	  		return ctx+uri;
  		}
  		
  	/*]]>*/
  	</script>
	<script type="text/javascript" th:src="@{|/js/doublesolitare.js|}" src="../js/doublesolitare.js"></script>
	<script type="text/javascript" th:src="@{|/js/sync.js|}" src="../js/sync.js"></script>
	<script type="text/javascript" th:src="@{|/js/DragDropTouch.js|}" src="../js/DragDropTouch.js"></script>
</body>
</html>
