<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Language" content="en" />
    <link th:href="@{|/webjars/bootstrap/css/bootstrap.min.css|}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{|/css/doublesolitare.css|}" href="../css/doublesolitare.css" />
</head>
<body>
	<div id="board" class="container">
	
		<div id="foundation"></div>
		
		<div id="tableau"></div>
	
	</div>
	
	
	<!-- JQuery 
	================================================== -->
	<script th:src="@{|/webjars/jquery/jquery.min.js|}"></script>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <script th:src="@{|/webjars/bootstrap/js/bootstrap.min.js|}"></script>
	
	<!-- My JavaScript 
 	================================================== -->
	<script type="text/javascript" th:src="@{|/js/doublesolitare.js|}" src="../js/doublesolitare.js"></script>
</body>
</html>